@font-face {
  font-family: proximaReg;
  src: url('fonts/Proxima Nova Alt Regular-webfont.ttf');
}
@font-face {
  font-family: proximaSemiBold;
  src: url('fonts/Proxima Nova Semibold-webfont.ttf');
}
@font-face {
  font-family: proximaBold;
  src: url('fonts/Proxima Nova Alt Bold-webfont.ttf');
}
@font-face {
  font-family: madeCanvasBlack;
  src: url('fonts/MADE Canvas Black.otf');
}
