.footer {
  background: #030000;
  padding-top: 120px;
  padding-bottom: 30px;

  .links {
    a {
      position: relative;
      display: inline-block;
      font-family: proximaReg;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      color: #fff;
      margin-bottom: 20px;
      text-decoration: none;
      &:after{
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 2px;
        bottom: -2px;
        left: -1.5px;
        background: theme-color('primary');
        transition: width 0.45s;
      }
      &:hover {
        border-color: #020302;
        &:after {
          width: 100%;
        }
      }
    }
  }

  .address {
    p.head {
      color: #87744c;
      text-transform: uppercase;
      font-size: 14px;
      font-family: proximaSemiBold;
      letter-spacing: 1.5px;
      margin-top: 0;
    }
    p {
      margin-top: 20px;
      font-family: proximaReg;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      line-height: 20px;
    }
    a {
      color: #fff;
    }
  }

  .newsletter {
    p.head {
      color: #87744c;
      text-transform: uppercase;
      font-size: 14px;
      font-family: proximaSemiBold;
      letter-spacing: 1.5px;
      margin-top: 0;
    }
    p {
      margin-top: 5px;
      font-family: proximaReg;
      font-size: 12px;
      color: #777676;
    }

    input[type="text"] {
      display: block;
      box-sizing: border-box;
      background: #fff;
      border: none;
      font: 9px proximaReg;
      color: #777676;
      width: 100%;
      padding: 15px 25px;
      font-style: italic;
      margin-top: 10px;
      transition: all 0.45s;

      &:focus {
        font-style: normal;
        font-size: 11px;
      }
    }
    input[type="submit"] {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: none;
      padding: 15px;
      background: #87744c;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 3px;
      cursor: pointer;
      transition: all 0.45s;

      &:hover {
        background: lighten(theme-color('primary'), 2.5%);
      }
    }
  }

  .copy-rights {
    .text-left p{
      color: #777676;
      font-size: 12px;
    }
    .text-right p{
      color: #777676;
      font-size: 12px;

      a {
        color: #c9af6a;
        text-decoration: underline;
      }
    }
  }
}