html, body {
  height: 100%;
}

/* Navbar */
.header {
  padding-top: 20px;
  height: 100%;


  .navbar {
    position: relative;
    align-items: flex-start;
    top: -20px;
    opacity: 0;
    animation: navbarFadeIn 0.75s 2.5s forwards;
    @include media-breakpoint-down(md) {
      align-items: center;
    }
    z-index: 99;
  }
  .navbar-brand {
    margin-top: 20px;

    @include media-breakpoint-down(md){
      margin-top: 10px;
    }
  }
  .navbar-nav {
    margin-top: 20px;
  }

  .nav-item {
    position: relative;
    @include media-breakpoint-down(md){
      padding-left: 13px;
    }
  }
  .nav-item:after {
    position: absolute;
    top: 20px;
    right: -2px;
    display: inline-block;
    content: '';
    background: #777676;
    width: 4px;
    height: 1px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .nav-item:last-child:after {
    display: none;
  }
  .nav-item:nth-last-child(2):after {
    display: none;
  }

  .nav-item .nav-link {
    color: #777676;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    transition: color 0.4s;
    &:hover {
      color: #fff;
    }
    @include media-breakpoint-down(md){
      color: #fff;
    }
  }

  select {
    background: none;
    border: none;
    color: #fff;
  }
}
/* intro parallax */
.intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background: #030000;
  height: 100%;
  .intro-layers {
    height: 100%;
  }
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: bottom!important;
    background-repeat: no-repeat!important;
    animation: introFadeIn 1.5s 1.5s forwards;
    opacity: 0;

    @include media-breakpoint-down(lg) {
      background-size: contain!important;
    }
  }
  .girl-layer {
    margin-top: 30px;
  }
  .logo-layer {
    background-position: 65% top!important;
    animation: introFadeIn 0.75s 2.5s forwards;
    padding-bottom: 500px;
    padding-top: 500px;
    @include media-breakpoint-down(lg) {
      background-position: center!important;
    }
  }
}

@keyframes introFadeIn {
  from {
    opacity: 0;
    top: 40px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes navbarFadeIn {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
